<br />
<h1>Mezzi</h1>
<app-button [buttonConfig]="btnConfig" (click)="sendTableAction({data: '', action:'new'})"></app-button>
<div class="col-12 form-group filter d-flex flex-row mt-2 justify-content-center align-items-baseline">
  <input type="date" [(ngModel)]="inizio" class="form-control col-3 ml-2" placeholder="Inserisci data di inizio" />
  <input type="date" [(ngModel)]="fine" class="form-control col-3 ml-2" placeholder="Inserisci data di fine" />
  <app-button class="d-flex align-self-baseline ml-2" [buttonConfig]="filterBtnConfig" (click)="filterMezzi()"></app-button>
</div>
<app-table
  [tableConfig]="mezziConfig"
  [mockData]="mezzi"
  (onClickEvent)="sendTableAction($event)"
></app-table>
