<h2 class="card-title">{{action | titlecase}} utente</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
  <div class="form-group col-12" >
    <label for="nome">Nome</label>
    <input type="text" class="form-control col-3" id="nome" formControlName="nome"
           placeholder="Inserisci il nome" value="{{data['nome']}}">
    <label for="cognome">Cognome</label>
    <input type="text" class="form-control col-3" id="cognome" formControlName="cognome"
           placeholder="Inserisci il cognome" value="{{data['cognome'] }}">
    <label for="nome">Data di nascita</label>
    <input type="date" class="form-control col-3" id="dataDiNascita" formControlName="dataDiNascita"
           placeholder="Inserisci la data di nascita" [ngModel]="data.dataDiNascita | date:'yyyy-MM-dd'">
    <span *ngIf="action !== 'edit' && loggedUser !== null && loggedUser.id !== userId && loggedUser.ruolo == 'SuperUser'">
      <label for="ruolo">Ruolo</label>
      <select formControlName="ruolo" id="ruolo" class="form-control col-3">
        <option value="Customer" selected>Customer</option>
        <option value="SuperUser" >SuperUser</option>
      </select>
    </span>
    <label for="username">Username</label>
    <input type="text" class="form-control col-3" id="username" formControlName="username"
           placeholder="Inserisci l'username" value="{{data['username'] }}">
    <label for="password">Password</label>
    <input type="password" class="form-control col-3" id="password" formControlName="password"
           placeholder="Inserisci la password" value="{{data['password'] }}">
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
<button class="btn btn-warning mt-2" (click)="goBack()">Go Back</button>


