<br />
<h1>Mezzi</h1>
<app-button [buttonConfig]="btnConfig" (click)="sendTableAction({data: '', action:'new'})"></app-button>
<div class="form-group filter d-flex flex-row mt-2 align-items-baseline">
  <h5 class="col-3">Prenota mezzi disponibili:</h5>
  <input type="date" [(ngModel)]="inizio" class="form-control col-2 ml-2"/>
  <input type="date" [(ngModel)]="fine" class="form-control col-2 ml-2"/>
  <ng-container *ngIf="inizio !== null && fine !== null">
    <app-button class="d-flex align-self-baseline ml-2 col-4"
                [buttonConfig]="filterBtnConfig" (click)="filterMezzi()"></app-button>
  </ng-container>
  <div [hidden]="filteredMezzi" class="col-1">
    <app-button class="d-flex align-self-baseline ml-2" [buttonConfig]="restoreBtnConfig" (click)="restoreMezzi()"></app-button>
  </div>
</div>
<app-table
  [tableConfig]="!filteredMezzi ? mezziConfig : altMezziConfig"
  [mockData]="mezzi"
  (onClickEvent)="sendTableAction($event)"
></app-table>
