
<h1>Utenti</h1>
<app-table
  [tableConfig]="userConfig"

  (updateElement)="updateUtente($event)"
  (createElement)="createUtente()"
  (deleteElement)="deleteUtente($event)"
></app-table>

<h1>Mezzi</h1>
<app-table
  [tableConfig]="mezziConfig"

  (updateElement)="updateMezzo($event)"
  (createElement)="createMezzo()"
  (deleteElement)="deleteMezzo($event)"
></app-table>

<h1>Prenotazioni</h1>
<!--<app-table-->
<!--  [tableConfig]="prenotazioniConfig"-->
<!--  (updateElement)="updatePrenotazione($event)"-->
<!--  (createElement)="createPrenotazione()"-->
<!--  (deleteElement)="deletePrenotazione($event)"-->
<!--&gt;</app-table>-->
